<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logout</title>
<head>

<body>
    {% extends 'AppViajes/index.html'%}
    {% load static %}
    
    {% block titulo_principal%}
    Gracias por visitar nuestro sitio. ¡Hasta pronto!
    
    {% endblock titulo_principal %}
    
    {% block imagen %}
    
    {% static 'AppViajes/assets/img/fondo2.jpg'%}
    
    {% endblock imagen %}
    
    {%block contenido%}
    
    
    {%endblock contenido%}
    
    {%block busqueda%}
    {%endblock busqueda%}
<body>
<html>