<!DOCTYPE html>

{% extends 'AppViajes/index.html'%}
{% load static %}

{% block titulo_principal%}
Registrate!
<span class="subheading" style="color:#FFFFF0"><strong>Y forma parte de nuestra comunidad</strong></span>
{% endblock titulo_principal %}

{% block imagen %}

{% static 'AppViajes/assets/img/register.webp'%}

{% endblock imagen %}

{%block contenido%}

<h3 span class="subheading">Completá los campos para registrarte en nuestro blog.</h3></span>
<br>
</br>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
<head>

<body>
    <form method="post">{%csrf_token%}
      <FONT FACE="Franklin Gothic Medium">
        {{form.as_p}}
      </FONT>
        <input type="submit" value="Enviar">

    <form>
<body>
<html>

{%endblock contenido%}

{%block busqueda%}
{%endblock busqueda%}



