
{% extends 'AppViajes/index.html'%}
{% load static %}

{% block titulo_principal%}
Sobre nosotros
<span class="subheading" style="color:#EEE8AA"><strong>Somos un grupo de amigos apasionados por conocer nuevos lugares y acumular nuevas experiencias. En este blog buscamos compartir nuestras aventuras y brindar el espacio para que también otros viajeros puedan hacerlo. Conozcamos juntos el mundo entero. </strong></span>

{% endblock titulo_principal %}

{% block imagen %}

{% static 'AppViajes/assets/img/about-bg.jpg'%}

{% endblock imagen %}

{%block contenido%}


{%endblock contenido%}

{%block busqueda%}
{%endblock busqueda%}