
{% extends 'AppViajes/index.html'%}
{% load static %}

<!-- lista de mensajes del usuario logeado-->

{% block titulo_principal%}

Mensajes

{% endblock titulo_principal %}

{% block imagen %}

{% static 'AppViajes/assets/img/mensajes.webp'%}

{% endblock imagen %}

{%block contenido%}

{% if object_list %}
<h5 style="color:#808000">Estos son los mensajes que los usuarios hicieron a tus posts:</h5>

    {% for mensaje in object_list %}
    </br>
    <hr class="my-4" />
    <h5>Post: {{mensaje.dirigido_a}}</h5>
    {{mensaje.mensaje |safe}}
    </br>
    <FONT FACE="Ink free">Enviado por {{mensaje.autor_mensaje}} el {{mensaje.fecha_creacion_mensaje|date:"d-m-y"}}</FONT>
    </br>
    {% endfor %}
{% else %}
    <h3>No hay mensajes registrados en sus posts.</h3>
{% endif %}

{%endblock contenido%}

{%block busqueda%}
{%endblock busqueda%}
