{% extends 'AppViajes/index.html'%}
{% load static %}


{%block busqueda%}
{%endblock busqueda%}


{% block titulo_principal%}



{% endblock titulo_principal %}

{% block imagen%}
{% static 'AppViajes/assets/img/Cuaderno-de-viaje-scaled.jpg'%}

{% endblock imagen %}


{%block contenido%}
<link rel="shortcut icon" href="#">
<p>
  <form method="POST"> 
    {% csrf_token %} 
    <p> <strong>¿Estás seguro que deseas eliminar el post: {{object.titulo}}? </strong></p>
    <button type="sumbit" class="btn btn-danger">Confirmar</button>
   
    </form>
     
</p>
<a class="btn btn-primary "   href="{% url 'AppViajes:listar_post'%}">Cancelar </a>

<p>
</p>  
{%endblock contenido%}
