{% extends 'AppViajes/index.html'%}
{% load static %}

{% block titulo%}
{{Detalle_post.titulo}}

{% endblock titulo %}

{% block titulo_principal%}
{{Detalle_post.titulo}}

{% endblock titulo_principal %}

{% block imagen%}

{{Detalle_post.imagen.url}}

{% endblock imagen %}


{%block contenido%}

{%block busqueda%}
{%endblock busqueda%}

{{Detalle_post.contenido | safe}}

{% for mensaje in mensajes %}
<p>{{mensaje}}</p>
{% endfor %}

<h4>Deja tus comentarios aqui:</h4>
{% if request.user.is_authenticated %}
<form action="">
    <textarea name="mensaje" id="textarea_mensaje" cols="30" rows="10"></textarea>
    <input type="submit" value="Enviar">
</form>
{% endif %}

{%endblock contenido%}