{% extends 'AppViajes/index.html'%}
{% load static %}

<!-- lista de post-->

{% block titulo%}

{{Detalle_post.titulo}}

{% endblock titulo %}

{% block titulo_principal%}

<h1>{{ Detalle_post.titulo }}</h1>
<h4>{{ Detalle_post.subtitulo }}</h4>

{% endblock titulo_principal %}

{% block imagen%}

{% static 'AppViajes/assets/img/inicio.jpg'%}

{% endblock imagen %}

{%block contenido%}

{%block busqueda%}

{%endblock busqueda%}

<!-- para mostrar quien escribio el post-->
{{Detalle_post.contenido | safe}}
<FONT FACE="Segoe Print" style="color:#696969"><div style='text-align:right'> Escrito por {{Detalle_post.autor}} ({{Detalle_post.fecha_creacion | date:"m-y"}}) </div></FONT>

<!-- para mostrar los mensajes del post-->
</br>
</br>
<h5 style="color:#808000">Mensajes:</h5>

{% if mensajes %}

  {% for mensaje in mensajes %}
        {{mensaje|safe}}
        </br>
        <FONT FACE="Ink free">Enviado por {{mensaje.autor_mensaje}} el {{mensaje.fecha_creacion_mensaje |date:"d-m-y"}}</FONT>
        <hr class="my-4" />
  {% endfor %}

{% else %}
    <h6><p>No hay mensajes registrados.</p></h6>
{% endif %}

<!-- para dejar mensajes al post-->

{% if request.user.is_authenticated %}

<h5 style="color:#808000">Deja tus comentarios aqui:</h5>

<form action="{{request.path}}" method="POST" > {% csrf_token%}

  {{miFormulario.as_p}}
  {{miFormulario.media}}

  <input type="submit" class="btn btn-primary text-uppercase" value="Enviar">
</form>
{% endif %}

{%endblock contenido%}