{% extends 'AppViajes/index.html'%}
{% load static %}

{% block titulo%}
{{Detalle_post.titulo}}

{% endblock titulo %}

{% block titulo_principal%}
<h1>{{ Detalle_post.titulo }}</h1>
<p>{{ Detalle_post.subtitulo }}</p>

{% endblock titulo_principal %}

{% block imagen%}

{% if Detalle_post.imagen %} 
{{Detalle_post.imagen.url}}

{% else %}
{% static 'AppViajes/assets/img/inicio2.jpg'%}

{% endif %}

{% endblock imagen %}


{%block contenido%}

{%block busqueda%}
{%endblock busqueda%}

{{Detalle_post.contenido | safe}}

<br>
</br>
<h5 style="color:#808000">Mensajes:</h5>

{% if mensajes %}

{% for mensaje in mensajes %}
          <h5>{{mensaje}}</h5>
          <FONT FACE="Ink free">Enviado por: {{mensaje.autor_mensaje}} el: {{mensaje.fecha_creacion_mensaje}}</FONT>
{% endfor %}
{% else %}

    <h6 p>No hay mensajes registrados.</h6></p>

{% endif %}

<br>
</br>
{% if request.user.is_authenticated %}

<h5 style="color:#808000">Deja tus comentarios aqui:</h5>

<form action="{{request.path}}" method="POST" > 
    {% csrf_token%}
    {{miFormulario.media}}
    {{miFormulario.as_p}}

    <FONT FACE="arial"><input type="submit" value="Enviar" /></FONT>
</form>
{% endif %}

<div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'AppViajes:Crear_mensaje' %}">Crear Mensaje →</a></div>

{%endblock contenido%}